/*-- scss:defaults --*/
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

/*-- scss:rules --*/
.navbar {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  font-size: 1.0rem;
  color: #fff;
  background-color: #343a40;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    letter-spacing: 1px;
    text-transform: capitalize;
}

.navbar-dark .navbar-brand {
    color: #fff;
}
 
.navbar-dark .navbar-nav .nav-link.active {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #373a3c;
    max-width: 1000px;
    margin: auto;
}

.centered-text {
  padding-top: 50px;
}

.gray-frame {
  border: 2px solid #ced4da;
  padding: 10px;
  border-radius: 10px;
}

.navbar-dark, .navbar-light, .navbar {
  background-color: #212529;
  font-size: 20px;
}
